.header {
  color: #212121;
  font-weight: 600;
  font-size: 1.5rem;
}
.dashboard {
  padding: 10px;
}

.serach-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #878787;
}

.chat-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.chat-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

.card-image {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.chat-box {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
}
.chat {
  background-color: #f1f3f6;
  height: 90vh;
}
.left {
  width: 40%;
}

.chat-footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.chat {
  padding: 10px;
}
.message-left {
  text-align: left;
}
.message-textfield {
  padding: 8px 16px;
  width: 80%;
}

.message-right {
  text-align: right;
}

.contain-left {
  display: inline-flex;
  text-align: left;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.contain-right {
  display: inline-flex;
  text-align: right;
  background-color: #027cd5;
  padding: 10px 15px;
  border-radius: 5px;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  background-color: white;
}
